<!-- your html code here -->
<div class="container pb-5">
    <div class="contact__header">
        <h1 class="fw-bold">Contact</h1>
        <p class="fs-5 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quis autem quasi debitis
            dolore
            hic rem voluptates. Nesciunt, minus? Necessitatibus fuga magni quia mollitia, sequi, eum repellendus
            voluptate
            quas, esse earum velit hic.</p>
    </div>

    <div class="row justify-content-center align-items-center ">
        <div class="col-9 rounded border pb-4 mb-2 bg-light text-dark" style="padding-left: 6rem">
            <div class=" input-group flex-nowrap align-items-center mt-3">
                <label for="email" style="margin-right: 3.1rem" class="fw-bold">Your E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="Your email" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>

            <div class="input-group flex-nowrap mt-3">
                <label for="texampleFormControlTextarea1" style="margin-right: 2rem" class="fw-bold">Your
                    message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"
                    placeholder="Please enter your message here..." rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3 float-end">Submit</button>
        </div>
    </div>

</div>
</div>