<!-- your html code here -->
<div class="container pb-5">
    <div style="padding:10px 50px">
        <h1>Contact</h1>
        <p>A bunch of words with the intention of convincing the user of the seriousness of whatever it is that is being
            presented, but with the confidence that the user will not read more than seven words before fixing their
            attention on an image or other visual element.
        </p>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 rounded border p-2 p-3 mb-2 bg-light text-dark"">
            <div class=" input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="email" id="email" class="form-control" placeholder="Please enter your e-mail..."
                aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <br>
        <div class="input-group flex-nowrap">

            <textarea class="form-control" id="exampleFormControlTextarea1"
                placeholder="Please enter your message here..." rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-4 float-end">Submit</button>
    </div>
    <div class="col-2"></div>
</div>

</div>
</div>