<div class="row py-2">
    <div class="col-7 offset-1">
        <div class="col-12 d-flex">
            <h2 class="titulo" style="font-size: 47px"> This First Heading <span class="text-secondary ">Will Catch Your
                    Eye</span>
            </h2>
        </div>
        <div class="col-12">
            <p class="titulo" style="font-size: 22px"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                ligula porta felis <br> euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo. </p>
        </div>
    </div>
    <div class="col-3"><img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle">
    </div>
</div>