<div class="container py-4">
    <div class="row py-2">
        <div class="col-6">
            <div class="col-12 d-flex">
                <h2> This First Heading <h2 class="text-secondary px-1 d-flex"> Will Catch Your Eye</h2>
                </h2>
            </div>
            <div class="col-12">
                <p class="text-left"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo. </p>
            </div>
        </div>
        <div class="col-3"><img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle">
        </div>
    </div>
</div>