<div class="container" style="padding-bottom: 50px; margin-top: 2rem;">


    <h1 class="fw-bold">Portfolio</h1>
    <p class="pb-2" style="font-size: 22px">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
        ligula
        porta
        feliseuismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
        cursus commodo.</p>
    <div class="row">
        <div class="col mb-5">
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/6.jpg" alt="Card image cap">
                <div class="card-body px-0">
                    <h5 class="card-title text-primary fw-bold fs-3">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, labore fuga
                        ab iusto numquam quam maxime atque nulla quibusdam excepturi.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/5.jpg" alt="Card image cap">
                <div class="card-body px-0">
                    <h5 class="card-title text-primary fw-bold fs-3">Project Name</h5>
                    <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, labore fuga
                        ab iusto numquam quam maxime atque nulla quibusdam excepturi.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/4.jpg" alt="Card image cap">
                <div class="card-body px-0">
                    <h5 class="card-title text-primary fw-bold fs-3">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, labore fuga
                        ab iusto numquam quam maxime atque nulla quibusdam excepturi.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom pb-5 mb-5"> </div>
</div>
</div>