<div style="padding-bottom: 50px;">

    <div class="container border-bottom pb-5 mb-5">
        <h1>Portfolio</h1>
        <p style="padding-bottom: 20px;">A bunch of words with the intention of convincing the user of the seriousness of whatever it is that is being
            presented, but with the confidence that the user will not read more than seven words before fixing their
            attention on an image or other visual element.</p>
        <div class="row">
            <div class="col mb-5">
                <div class="card">
                    <img class="card-img-top" src="./assets/img/6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height
                            action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card">
                    <img class="card-img-top" src="./assets/img/5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height
                            action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card">
                    <img class="card-img-top" src="./assets/img/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height
                            action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>