<div class="container">
    <hr class="mb-5">
    <div class="row py-2" style="margin-top: 6rem; margin-bottom: 8rem">
        <div class="col-3 offset-1"><img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle">
        </div>
        <div class="col-8">
            <div class="col-12 d-flex">
                <h2 class="tituloDos" style="font-size: 47px"> This Second Heading <span class="text-secondary ">Is
                        Pretty Cool Too.</span>
                </h2>
            </div>
            <div class="col-12">
                <p class="text-left" style="font-size: 22px"> Donec ullamcorper nulla non metus auctor fringilla.
                    Vestibulum id ligula porta felis <br> euismod semper. Praesent commodo cursus magna, vel scelerisque
                    nisl
                    consectetur.<br> Fusce dapibus, tellus ac cursus commodo. </p>
            </div>
        </div>
    </div>
</div>