<section id="home">
    <!-- d-flex justify-content-center align-items-center -->
    <div class="home__container position-relative" style="margin-bottom: 8rem">
        <img src="./assets/img/bg.jpg" alt="" class="w-100 d-block img-fluid">
        <div class="overlay position-absolute top-0 start-50 translate-middle d-flex flex-column align-items-center w-100"
            style="margin-top: 15%">
            <h1 class="fw-bold bg-light w-100 text-center" style="font-size: 9.06rem">One Page Wonder</h1>
            <h2 class="fw-bold bg-light w-100 text-center mt-2" style="font-size: 5.5rem">Will Knock Your Socks Off
            </h2>
        </div>
    </div>
</section>